/.metals
/.vscode
/*.lock.json
/rc/config/.mono
/rc/config/configstore
/**/StardewValley/*
/rc/docker
/rc/config/renode/*
/rc/config/chromium/*
/rc/config/pulse
/rc/config/Code - OSS*
/rc/config/compiz*
/rc/config/evolution*
/rc/config/gnome-initial-setup*
/rc/config/ibus*
/rc/config/libaccounts-glib*
/rc/config/unity*
/rc/config/nautilus*
/rc/config/nemo*
/rc/config/dconf*
/rc/config/gtk-*
/rc/config/user-dirs*
/rc/config/xbuild*
/rc/config/Code
/rc/config/jgit
rc/config/bpytop/error.log
rc/config/containers/auth.json
rc/config/raycast
rc/config/hub
rc/config/qobuz-dl
rc/config/op
rc/config/nicotine

bin/scala_scripts/.ammonite
bin/scala_scripts/.metals
bin/scala_scripts/.vscode
bin/scala_scripts/.scala-build
