/.metals
/rc/config/.mono
/rc/config/configstore
/**/StardewValley/*
/rc/docker/
/rc/config/hub
/rc/config/rebar3/hex.config
/rc/config/renode/*
/rc/config/chromium/*
/rc/config/pulse
/rc/config/Code - OSS*
/rc/config/compiz*
/rc/config/evolution*
/rc/config/gnome-initial-setup*
/rc/config/ibus*
/rc/config/libaccounts-glib*
/rc/config/unity*
/rc/config/nautilus*
/rc/config/nemo*
/rc/config/dconf*
/rc/config/gtk-*
/rc/config/user-dirs*
/rc/config/xbuild*