[defaults]
host_key_checking=no
UserKnownHostsFile=/dev/null
roles_path=./roles
inventory=inventory
retry_files_enabled = false
# stdout_callback =
interpreter_python = auto_silent
timeout = 30
deprecation_warnings=False

# gathering = smart
# fact_caching = jsonfile
# fact_caching_connection = /tmp/facts_cache
# fact_caching_timeout = 7200

[ssh_connection]
pipelining=True
ssh_args="-F ssh.cfg"
retries = 5
